@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

* {
  padding: 0px; margin: 0px;
  font-family: 'Space Grotesk';
  text-decoration: none;
  transition: all .2s ease-out;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
* ::-webkit-scrollbar {
  display: none;
}
h2 {
  font-weight: 700 !important;
}