@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

* {
  padding: 0px; margin: 0px;
  font-family: 'Space Grotesk';
  text-decoration: none;
  transition: all .2s ease-out;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
* ::-webkit-scrollbar {
  display: none;
}
h2 {
  font-weight: 700 !important;
}
.intro-section {
  background: url('/src/Components/Images/intro-image.jpg');
  height: 720px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro-section .container {
  padding-top: 15%;
}
.intro-section h1 {
  font-size: 4rem;
}